.mat-card{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 200px;
}

.container{
  display: flex;
}

.att-prefix{
  flex-grow: 0.1;
}

.att-center{
  flex-grow: 2;
}
.att-download{
  flex-grow: 0.1;
  color: royalblue;
}
.att-delete{
  flex-grow: 0.1;
  color: red;
}

a:hover{
  color: black;
}

span {
  display: inline-block;
  width: 180px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
