
  <div class="container">
    <div class="att-prefix">
      <fa-icon [icon]="faDocument"></fa-icon>
    </div>
    <div class="att-center">
      <span #tooltip="matTooltip"
            [matTooltip]="this.attachment.originalName"
            matTooltipPosition="below">
        {{attachment.originalName}}</span>
    </div>
    <div class="att-download">
      <a (click)="onDownloadClick()"><fa-icon [icon]="faDownload"></fa-icon></a>
    </div>
    <div *ngIf="this.loggedInUser.id == this.attachment.user.id" class="att-delete">
      <a (click)="onDeleteClick()"><fa-icon [icon]="faDelete"></fa-icon></a>
    </div>
</div>

