<div>
  <mat-card>
    <mat-card-header>
      <img mat-card-avatar src="assets/img/default-user-image.png">
      <mat-card-title>{{comment.user.username}}
        <span class="title-date"> ,{{comment.dateCreated | date}}</span>
      </mat-card-title>
      <mat-card-subtitle  ><button *ngIf="this.loggedUser.id === this.comment.user.id" mat-stroked-button color="primary" (click)="edit()">Edit</button></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="example-full-width">
        <mat-label *ngIf="this.editEnabled">Place new comment</mat-label>
        <textarea  [readonly]="!this.editEnabled" [(ngModel)]="this.comment.text" matInput></textarea>
      </mat-form-field>
      <button *ngIf="this.editEnabled" mat-raised-button (click)="onSaveComment()">Save</button>
<!--      {{comment.text}}-->
      <span *ngIf="(comment.attachments != undefined) && (comment.attachments.length != 0)">
      <br>
        <div class="attachment-container">
          <mat-card
            [ngClass]="{'attachment-card': attachment.uploadError === undefined || !attachment.uploadError, 'attachment-card-error': attachment.uploadError}"
            *ngFor="let attachment of comment.attachments">
              <app-attachment (deleteAttachment)="onDeleteAttachment($event)" [uploadProgress]="attachment.id"  [attachment]="attachment" [comment]="this.comment"></app-attachment>
          </mat-card>
        </div>


    </span>
      <hr>
      <div *ngIf="comment.user.id == loggedUser.id">
          <button mat-mini-fab color="primary" type="button" (click)="fileInput.click()" style="margin: 5px">
            <fa-icon [icon]="faUpload"></fa-icon>
            <input #fileInput type="file" name="file" multiple  (change)="detectFiles($event)" style="display:none;" />
          </button>
          <button mat-raised-button (click)="onUpload()"
                  [matTooltip]="this.getSelectedFileNames(this.filesToUploadReply)"
                  matTooltipClass="my-tooltip"
          >Upload files</button>
      </div>

    </mat-card-content>
    <mat-card-actions *ngIf="comment.likes !== undefined">
      <button class="mat-card-action-button" mat-icon-button [class.selected]="isLiked" (click)="onLike()" matTooltip="Like" matTooltipPosition="below"><mat-icon>thumb_up</mat-icon></button>
      {{getLikesNumber()}}
      <button class="mat-card-action-button" mat-icon-button [class.selected]="isDisliked" (click)="onDislike()" matTooltip="Dislike" matTooltipPosition="below"><mat-icon>thumb_down</mat-icon></button>
      {{getDislikeNumber()}}
      <button class="mat-card-action-button" mat-icon-button (click)="replyButtonClicked()" matTooltip="Replays" matTooltipPosition="below"><mat-icon>reply</mat-icon></button>
    </mat-card-actions>

    <mat-card-content *ngIf="isReplyOpen" class="replays">
      <app-comment *ngFor="let comment of comment.comments" [comment]="comment"></app-comment>
      <p *ngIf="comment.comments.length==0">No replays</p>
    </mat-card-content>

    <mat-form-field class="comment">
      <!--    <mat-label >Favorite food</mat-label>-->
      <input #replay matInput placeholder="Replay" (keyup.enter)="postReply(replay.value)">
    </mat-form-field>
    <button mat-mini-fab color="primary" type="button" (click)="fileInputComment.click()" style="margin: 5px"
            [matTooltip]="this.getSelectedFileNames(this.filesToUploadReply)"
            matTooltipClass="my-tooltip">
      <fa-icon [icon]="faUpload"></fa-icon>
      <input #fileInputComment type="file" name="file" multiple  (change)="detectFilesReply($event)" style="display:none;"
      />
    </button>
    <button mat-button (click)="postReply(replay.value)" (keyup.enter)="postReply(replay.value)">Post a reply</button>

  </mat-card>

</div>
