<div>
  <mat-card>
    <mat-card-header>
      <img mat-card-avatar src="assets/img/default-user-image.png">
      <mat-card-title>{{comment.user.username}}<span class="title-date"> ,{{comment.dateCreated | date}}</span></mat-card-title>
    </mat-card-header>
    <mat-card-content >
        {{comment.text}}
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Like</button>
      <button mat-button>Dislike</button>
      <button mat-button (click)="replyButtonClicked()">Replys</button>
    </mat-card-actions>

    <mat-card-content *ngIf="isReplyOpen" class="replays">
      <app-comment *ngFor="let comment of comment.comments" [comment]="comment"></app-comment>
      <p *ngIf="comment.comments.length==0">No replays</p>
    </mat-card-content>

    <mat-form-field class="comment">
      <!--    <mat-label >Favorite food</mat-label>-->
      <input #replay matInput placeholder="Replay" (keyup.enter)="postReply(replay.value)">

    </mat-form-field>
    <button mat-button (click)="postReply(replay.value)">Post a reply</button>

  </mat-card>

</div>
