<app-main-nav>
  <mat-sidenav-container *ngIf="this.channel !== undefined" class="sidenav-container">
    <mat-sidenav class="sidenav" fixedInViewport
                 mode='side'
                 opened=true>

      <mat-nav-list *ngIf="this.channel.channels !== undefined">
        <a mat-list-item
           *ngFor="let subchannel of channel.channels"
           [routerLink]="['/channel',subchannel.id]">{{subchannel.name}}</a>
      </mat-nav-list>
      <button mat-stroked-button (click)="openNewPostDialog()">New post</button>
      <button mat-stroked-button [routerLink]="['/make-channel', channel.id]">Add Subchannel</button>
      <button mat-stroked-button [routerLink]="['/edit-channel', channel.id]">Edit Channel</button>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <span>{{channel.name}}</span>
      </mat-toolbar>

      <div class="content">
        <app-post *ngFor="let post of channel.posts" [post]="post"></app-post>
      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>


</app-main-nav>
