<app-main-nav>

  <div *ngIf="this.channel">
    <div class="toolbar">
      <div *ngIf="this.channel.channels !== undefined && this.channel.userChannels !== undefined" class="toolbar">
        <button mat-raised-button color="accent" class="title flex-item"><strong>{{channel.name}}</strong></button>
        <hr>
        <button mat-raised-button color="primary" [hidden]="!isPostingAllowed()" (click)="openNewPostDialog()"
                class="flex-item side-button">New post
        </button>
        <button mat-raised-button color="primary" [hidden]="!isHisChannel()" [routerLink]="['/make-channel', channel.id]"
                class="flex-item side-button">Add Subchannel
        </button>
        <button mat-raised-button color="primary" [hidden]="!isHisChannel()" [routerLink]="['/edit-channel', channel.id]"
                class="flex-item side-button">Edit Channel
        </button>
        <button mat-raised-button color="primary" [hidden]="subChannels.length === 0" [matMenuTriggerFor]="menu"
                class="flex-item side-button">Subchannels
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <button [hidden]="channel.parentChannel === null"
                mat-raised-button color="warn"
                class="flex-item side-button"
                [routerLink]="['/channel', channel.parentChannel?.id]">Back to {{channel.parentChannel?.name}}
        </button>
        <mat-menu #menu="matMenu">
          <button *ngFor="let subchannel of subChannels"
                  mat-menu-item
                  [routerLink]="['/channel',subchannel.id]">{{subchannel.name}}</button>
        </mat-menu>
      </div>
    </div>

    <div class="post-content">
      <app-post [id]=[post.id] *ngFor="let post of channel.posts" [post]="post"></app-post>
    </div>
  </div>

</app-main-nav>
