<app-main-nav>

  <div *ngIf="this.channel">
    <div class="toolbar">
      <div *ngIf="this.channel.channels !== undefined" class="toolbar">
        <button mat-raised-button color="accent" class="title flex-item"><strong>{{channel.name}}</strong></button>
        <hr>
        <button mat-raised-button color="primary" (click)="openNewPostDialog()" class="flex-item">New post</button>
        <button mat-raised-button color="primary" [routerLink]="['/make-channel', channel.id]" class="flex-item">Add Subchannel</button>
        <button mat-raised-button color="primary" [routerLink]="['/edit-channel', channel.id]" class="flex-item">Edit Channel</button>
        <button mat-raised-button color="primary" [matMenuTriggerFor]="menu" class="flex-item">Subchannels
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button *ngFor="let subchannel of channel.channels"
                  mat-menu-item
                  [routerLink]="['/channel',subchannel.id]">{{subchannel.name}}</button>
        </mat-menu>
      </div>
      <button [hidden]="channel.parentChannel === null"
              mat-raised-button color="warn"
              [routerLink]="['/channel', channel.parentChannel?.id]">Back to {{channel.parentChannel?.name}}
      </button>
    </div>

    <div class="post-content">
      <app-post *ngFor="let post of channel.posts" [post]="post"></app-post>
    </div>
  </div>

</app-main-nav>
