<h1 mat-dialog-title>Create new post!</h1>
<ng-form [formGroup]="form">

  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title">
    <mat-error *ngIf="form.get('title').invalid">Title is required!</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Body</mat-label>
    <textarea matInput formControlName="body"></textarea>
    <mat-error *ngIf="form.get('body').invalid">Body is required!</mat-error>
  </mat-form-field>



  <br>
  <button mat-raised-button color="primary" [mat-dialog-close]="form.value"  [disabled]="form.invalid">Create</button>
  <button mat-button (click)="closeDialog()">Close</button>
</ng-form>

  <form>
    <input type="file" name="files" multiple  (change)="detectFilesAndUpdateFormGroup($event)"> <!-- id="file" -->
    <!-- <button mat-raised-button (click)="onUpload()">Upload file</button> -->
  </form>

<mat-card *ngFor="let file of this.filesToUpload">{{file.name}}</mat-card>

