<mat-card class="example-card">
  <mat-card-header>
    <img mat-card-avatar src="assets/img/default-user-image.png">
    <mat-card-title>{{post.title}}<span class="title-date"> ,{{post.dateCreated | date}}</span></mat-card-title>
    <mat-card-subtitle>{{post.user.firstName+" "+post.user.lastName+", "+post.user.username}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
      {{post.body}}
    <span *ngIf="(post.attachments != undefined) && (post.attachments.length != 0)">
      <br>
        ATTACHMENTS!!!!
        <div *ngFor="let attachment of post.attachments">
            {{attachment.id}}
            {{attachment.originalName}}
            {{attachment.user.username}}
        </div>
    </span>
    <div *ngIf="post.user.id == loggedUser.id">
      <form [formGroup]="fileForm">
        <input type="file" name="file" id="file" (change)="detectFiles($event)">
        <button mat-raised-button (click)="uploadFile()">Upload file</button>
      </form>

    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button [class.selected]="isLiked" (click)="onLike()">Like</button>
    <button mat-button [class.selected]="isDisliked" (click)="onDislike()">Dislike</button>
    <button mat-button (click)="commentButtonClicked()">Comments</button>
  </mat-card-actions>

  <mat-card-content *ngIf="isCommentOpen" class="comments">
    <app-comment *ngFor="let comment of post.comments" [comment]="comment"></app-comment>
    <p *ngIf="post.comments.length==0">No comments</p>
  </mat-card-content>

  <mat-form-field class="comment">
<!--    <mat-label >Favorite food</mat-label>-->
    <input #commnent matInput placeholder="Comment" (keyup.enter)="postComment(commnent.value)">

  </mat-form-field>
  <button mat-button (click)="postComment(commnent.value)">Post a comment</button>

</mat-card>
