.example-card {
  /*max-width: 400px;*/
}

.example-header-image {
  background-size: cover;
}
.title-date {
  font-size: 12px;
  color: hsl(0, 3%, 48%);
}
.mat-card {
  margin: 2em;
}
.attachment-card{
  background: linear-gradient(-30deg, white, deepskyblue);
}

.attachment-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.comments{

}
.selected{
  color: #4ca1af;
}
.favourite{
  color:#673ab7;
  font-size:30px;
}
.mat-card-actions{
  color:dimgray;
}
